@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
    }
}

@layer base {
    /* @apply yerine standart CSS kullanarak hatayı aşıyoruz */
    * {
        border-color: #e2e8f0; /* border-slate-200 */
        border-style: solid;
        border-width: 0;
    }

    /* Koyu Mod için Kenarlık Rengi */
    .dark * {
        border-color: #1e293b; /* border-slate-800 */
    }

    body {
        background-color: #ffffff;
        color: #0f172a; /* text-slate-900 */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /* Koyu Mod için Arkaplan ve Yazı Rengi */
    .dark body {
        background-color: #020617; /* bg-slate-950 */
        color: #f8fafc; /* text-slate-50 */
    }
}
